<section class="navigation">
    <div class="pdata_wrap">
        <ul class="pdata">
            <li id="fullname"><img src="/img/icons/passport.svg" alt=""> Anna Petrosyan</li>
            <li id="phone"><img src="/img/icons/tel.svg" alt=""> +1 818 000 0000</li>
            <li id="email"><img src="/img/icons/at.svg" alt=""> anna@example.com</li>
        </ul>
    </div>
    <nav class="vmenu" aria-label="Account">
        <div id="m"><img src="/img/icons/m.svg" alt="Menu"></div>
        <ul>
            <li><a href="/en/account/index/">Overview</a></li>
            <li><a href="/en/account/objects/">My plots</a></li>
            <li><a href="/en/account/mypackages/">My plans</a></li>
            <li><a href="/en/account/payments/">My payments</a></li>
            <li><a href="/en/account/personal-edit/4/">My personal data</a></li>
        </ul>
    </nav>
</section>
